#root {
  width: 100%;
  background: #a5e1f9;
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin 1 5s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card .card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.card .card-desc {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  line-height: 1.5;
  max-height: 3em;
  /* Adjust based on line-height */
}

.card .card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  line-height: 1.5;
  max-height: 3em;
}